# Capstone Workbook 3: Pre-processing

In [1]:
# Import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
# Import data 
airbnb_ldn = pd.read_csv('airbnb_ldn_final.csv')

In [50]:
airbnb_ldn.drop(columns='Unnamed: 0', inplace=True)

In [51]:
airbnb_ldn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 38 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Listing Title                                      32682 non-null  object
 1   Property Type                                      32686 non-null  object
 2   Listing Type                                       32686 non-null  object
 3   City                                               32686 non-null  object
 4   Zipcode                                            32686 non-null  object
 5   Number of Reviews                                  32686 non-null  int64
 6   Bedrooms                                           32686 non-null  object
 7   Bathrooms                                          32686 non-null  int64
 8   Max Guests                                         32686 non-null  int64
 9   Airbnb Superhost                                   32686 non-null  object
 10  Cancellation Policy                                19004 non-null  object
 11  Cleaning Fee (Native)                              32686 non-null  float64
 12  Extra People Fee(Native)                           32686 non-null  float64
 13  Check-in Time                                      30929 non-null  object
 14  Checkout Time                                      29544 non-null  object
 15  Minimum Stay                                       32686 non-null  int64
 16  Latitude                                           32686 non-null  float64
 17  Longitude                                          32686 non-null  float64
 18  Overall Rating                                     32686 non-null  float64
 19  Airbnb Communication Rating                        32683 non-null  float64
 20  Airbnb Accuracy Rating                             32683 non-null  float64
 21  Airbnb Cleanliness Rating                          31821 non-null  float64
 22  Airbnb Checkin Rating                              32682 non-null  float64
 23  Airbnb Location Rating                             32682 non-null  float64
 24  Airbnb Value Rating                                32682 non-null  float64
 25  Amenities                                          32686 non-null  object
 26  Airbnb Host ID                                     32686 non-null  int64
 27  Host Listing Count                                 20192 non-null  float64
 28  guest_controls                                     32686 non-null  object
 29  Pets Allowed                                       32686 non-null  bool
 30  Count Available Days LTM                           32686 non-null  int64
 31  Count Blocked Days LTM                             32686 non-null  int64
 32  Count Reservation Days LTM                         32686 non-null  int64
 33  Occupancy Rate LTM                                 32686 non-null  int64
 34  Number of Bookings LTM                             32686 non-null  int64
 35  Number of Bookings LTM - Number of observed month  32686 non-null  int64
 36  Average Daily Rate (Native)                        32686 non-null  float64
 37  Annual Revenue LTM (Native)                        32686 non-null  float64
dtypes: bool(1), float64(14), int64(11), object(12)
memory usage: 9.3+ MB

In [52]:
# split into categorical and numerical columns
cat_cols = airbnb_ldn.select_dtypes(include='object')
num_cols = airbnb_ldn.select_dtypes(exclude='object')

In [53]:
# View categorical columns
cat_cols.head().T

,0,1,2,3,4
Listing Title,Cozy 2BR house with a garden view,GuestReady - Amazing home with a private garden,Cosy cottage on Richmond Park,"Entire Flat. Free parking, Garden , Richmond park",Maisonette inbetween Richmond Park and Wimbledon
Property Type,Entire home,Entire home,Entire home,Entire rental unit,Private room in rental unit
Listing Type,entire_home,entire_home,entire_home,entire_home,private_room
City,Greater London,Greater London,Greater London,Greater London,Greater London
Zipcode,SW15 3,SW15 3,SW15 3,SW15 3,SW15 3
Bedrooms,2,2,1,2,1
Airbnb Superhost,f,t,f,f,f
Cancellation Policy,strict_14_with_grace_period,NaN,NaN,strict_14_with_grace_period,strict_14_with_grace_period
Check-in Time,12:00 PM - 12:00 AM,3:00 PM - 12:00 AM,After 3:00 PM,3:00 PM - 11:00 PM,12:00 PM - 10:00 PM
Checkout Time,10:00 AM,11:00 AM,11:00 AM,11:00 AM,11:00 AM
Amenities,"['Free parking on premises', 'Air conditioning...","['Wifi', 'Kitchen', 'Dryer', 'Dedicated worksp...","['Free parking on premises', 'Air conditioning...","['Free parking on premises', 'Wifi', 'Kitchen'...","['Free parking on premises', 'Wifi', 'Breakfas..."
guest_controls,"{""allows_children"": true, ""allows_infants"": tr...","{""allows_children"": true, ""allows_infants"": tr...","{""allows_children"": false, ""allows_infants"": f...","{""allows_children"": true, ""allows_infants"": tr...","{""allows_children"": false, ""allows_infants"": f..."

Looking at the categorical columns, there are a couple that can immediately be identified as ones for some numerical transformation. 

To being with 'Airbnb Superhost' is a binary column and can thus be made numerical:

In [54]:
# confirm Airbnb superhost is binary:
airbnb_ldn['Airbnb Superhost']

0        f
1        t
2        f
3        f
4        f
        ..
32681    f
32682    f
32683    f
32684    f
32685    f
Name: Airbnb Superhost, Length: 32686, dtype: object

The presence of two variables, f (false) and t (true) confirm the column is binary. It will now be made numerical:

In [55]:
# made the column binary in both dataframes
cat_cols['Airbnb Superhost'] = np.where(cat_cols['Airbnb Superhost'] == 't', 1, 0)
airbnb_ldn['Airbnb Superhost'] = np.where(airbnb_ldn['Airbnb Superhost'] == 't', 1, 0)

In [59]:
# check conversation has worked:
airbnb_ldn['Airbnb Superhost'].value_counts()

Airbnb Superhost
0    24705
1     7981
Name: count, dtype: int64

Now looking at other columns with a small number of distinct values or potential for an increase in granularity. Initially identified ones:

- Listing Type
- Cancellation policy
- Checkin time
- Checkout time
- Bedrooms

Beginning with 'Cancellation policy':

In [76]:
# check values within cancellation policy:
print(airbnb_ldn['Cancellation Policy'].value_counts())
print(f"Null values: {airbnb_ldn['Cancellation Policy'].isnull().sum()}")

Cancellation Policy
strict_14_with_grace_period         7030
moderate                            5671
flexible                            4974
better_strict_with_grace_period     1224
super_strict_30                       60
super_strict_60                       26
firm_30_strict_with_grace_period      18
luxury_moderate                        1
Name: count, dtype: int64
Null values: 13682

The cancellation policy can be split into several main categories - New grouping : original value;
- No policy : Null values
- Medium : moderate, flexible, luxury_moderate
- Strict : strict_14_with_grace_period, better_strict_with_grace_period, firm_30_strict_with_grace_period
- Super strict : super_strict_30, super_strict_60

In [79]:
# create mapping function to group cancellation policy data:
def map_cancellation_policy(i):
    if i in ['moderate', 'flexible', 'luxury_moderate']:
        return 'medium'
    elif i in ['strict_14_with_grace_period', 'better_strict_with_grace_period', 'firm_30_strict_with_grace_period']:
        return 'strict'
    elif i in ['super_strict_30', 'super_strict_60']:
        return 'super_strict'
    else:
        return 'no_policy'

In [80]:
# apply function to dataframe
airbnb_ldn['Cancellation Policy'] = airbnb_ldn['Cancellation Policy'].map(map_cancellation_policy)

In [81]:
# check appropriate transformation has been applied
airbnb_ldn['Cancellation Policy'].value_counts()

Cancellation Policy
no_policy       13682
medium          10646
strict           8272
super_strict       86
Name: count, dtype: int64

The next column to transform will be the checkin time column, the number of distinct values will  be found:

In [82]:
# check number of distinct values in the dataframe
airbnb_ldn['Check-in Time'].value_counts()

Check-in Time
After 3:00 PM         11046
After 2:00 PM          2741
Flexible               2264
After 4:00 PM          1700
3:00 PM - 10:00 PM     1214
                      ...
After 11:00 PM            1
After 6:00 AM             1
10:00 AM - 4:00 PM        1
After 5:00 AM             1
After %{time}             1
Name: count, Length: 159, dtype: int64

In [83]:
airbnb_ldn['Check-in Time'].isnull().sum()

1757

It can be seen that there are 160 distinct values in the 'Check-in Time' column (including nulls). This is quite a lot, hence a way or compressing these will be determined.

To begin, it looks as though 'After 3: 00 PM' is the most common check-in time, there seem to be other columns that contain some element of 3pm. These will be investigated:

In [95]:
(airbnb_ldn[airbnb_ldn['Check-in Time'].str.contains('3', regex=True, na=False)])['Check-in Time'].value_counts()

Check-in Time
After 3:00 PM                   11046
3:00 PM - 10:00 PM               1214
3:00 PM - 9:00 PM                 958
3:00 PM - 8:00 PM                 810
3:00 PM - 11:00 PM                713
3:00 PM - 12:00 AM                661
3:00 PM - 6:00 PM                 319
3:00 PM - 7:00 PM                 298
3:00 PM - 2:00 AM (next day)      298
3:00 PM - 5:00 PM                 136
3:00 PM - 1:00 AM (next day)      112
1:00 PM - 3:00 PM                  50
12:00 PM - 3:00 PM                 20
11:00 AM - 3:00 PM                 15
10:00 AM - 3:00 PM                  8
9:00 AM - 3:00 PM                   3
8:00 AM - 3:00 PM                   2
After 3:00 AM                       2
Name: count, dtype: int64

In [115]:
(airbnb_ldn[airbnb_ldn['Check-in Time'].str.startswith(('12', '1 ', '2', '3', '4', '5'), na=False)])['Check-in Time'].value_counts()

Check-in Time
3:00 PM - 10:00 PM               1214
3:00 PM - 9:00 PM                 958
3:00 PM - 8:00 PM                 810
3:00 PM - 11:00 PM                713
3:00 PM - 12:00 AM                661
2:00 PM - 10:00 PM                475
2:00 PM - 12:00 AM                325
3:00 PM - 6:00 PM                 319
4:00 PM - 10:00 PM                309
2:00 PM - 11:00 PM                307
3:00 PM - 7:00 PM                 298
3:00 PM - 2:00 AM (next day)      298
4:00 PM - 8:00 PM                 296
4:00 PM - 7:00 PM                 280
2:00 PM - 9:00 PM                 242
4:00 PM - 11:00 PM                209
2:00 PM - 8:00 PM                 182
4:00 PM - 12:00 AM                161
4:00 PM - 9:00 PM                 138
3:00 PM - 5:00 PM                 136
2:00 PM - 7:00 PM                 131
3:00 PM - 1:00 AM (next day)      112
2:00 PM - 6:00 PM                 102
2:00 PM - 2:00 AM (next day)       97
5:00 PM - 10:00 PM                 83
12:00 PM - 10:00 PM                81
2:00 PM - 4:00 PM                  81
4:00 PM - 2:00 AM (next day)       72
12:00 PM - 9:00 PM                 71
12:00 PM - 8:00 PM                 69
4:00 PM - 6:00 PM                  66
5:00 PM - 9:00 PM                  61
12:00 PM - 11:00 PM                58
12:00 PM - 12:00 AM                56
5:00 PM - 11:00 PM                 54
12:00 PM - 2:00 PM                 51
12:00 PM - 6:00 PM                 50
12:00 PM - 7:00 PM                 42
2:00 PM - 5:00 PM                  41
5:00 PM - 8:00 PM                  34
5:00 PM - 12:00 AM                 28
5:00 PM - 7:00 PM                  26
12:00 PM - 5:00 PM                 23
2:00 PM - 1:00 AM (next day)       22
12:00 PM - 3:00 PM                 20
12:00 PM - 4:00 PM                 18
5:00 PM - 2:00 AM (next day)       12
4:00 PM - 1:00 AM (next day)       11
12:00 PM - 2:00 AM (next day)       3
12:00 PM - 1:00 AM (next day)       2
5:00 PM - 1:00 AM (next day)        2
Name: count, dtype: int64

**Complicated deadling with the checkin times, potentially return to**

The next column to transform will be the check-out time column, the number of distinct values will  be found:

In [125]:
print(airbnb_ldn['Checkout Time'].value_counts())
print(f"Null values :  {airbnb_ldn['Checkout Time'].isnull().sum()}")

Checkout Time
11:00 AM    15272
10:00 AM     9029
12:00 PM     3966
1:00 PM       394
2:00 PM       252
9:00 AM       185
3:00 PM       135
12:00 AM       83
4:00 PM        61
5:00 PM        42
6:00 PM        36
8:00 AM        28
11:00 PM       14
2:00 AM        10
9:00 PM         9
1:00 AM         8
8:00 PM         6
7:00 PM         5
10:00 PM        4
3:00 AM         3
7:00 AM         2
Name: count, dtype: int64
Null values :  3142

Looking at the 'Checkout Time' column, there are 22 distinct time categories (including nulls), these can be divided into ... sub-groups (sub-group : values)

- morning : 7:00 AM, 8:00 AM, 9:00 AM, 10:00 AM, 11:00 AM
- afternoon : 12:00 PM, 1:00 PM, 2:00 PM, 3:00 PM, 4:00 PM, 5:00 PM
- evening : 6:00 PM, 7:00 PM, 8:00 PM, 9:00 PM 
- late : 10:00 PM, 11:00 PM, 12:00 AM, 1:00 AM
- very_early : 1:00 AM, 2:00 AM, 3:00 AM 
- none : NaN

The column will be split into the described groups:

In [136]:
# create mapping function to 'Checkout Time' data:
def map_checkout_time(i):
    if i in ['7:00 AM', '8:00 AM', '9:00 AM', '10:00 AM', '11:00 AM']:
        return 'morning'
    elif i in ['12:00 PM', '1:00 PM', '2:00 PM', '3:00 PM', '4:00 PM', '5:00 PM']:
        return 'afternoon'
    elif i in ['6:00 PM', '7:00 PM', '8:00 PM', '9:00 PM']:
        return 'evening'
    elif i in ['10:00 PM', '11:00 PM', '12:00 PM', '1:00 AM']:
        return 'late'
    elif i in ['1:00 AM', '2:00 AM', '3:00 AM']:
        return 'very_early'
    else:
        return 'none'

In [138]:
# apply function to dataframe
airbnb_ldn['Checkout Time'] = airbnb_ldn['Checkout Time'].map(map_checkout_time)

In [139]:
# check the correct transformation has been applied:
airbnb_ldn['Checkout Time'].value_counts()

Checkout Time
morning       24516
afternoon      4850
none           3225
evening          56
late             26
very_early       13
Name: count, dtype: int64

As shown, the 'Checkout Time' column has been split into the relevant categories.

The 'Bedrooms' column will now be assessed:

In [146]:
print(airbnb_ldn['Bedrooms'].value_counts())
print(f"Null values: {airbnb_ldn['Bedrooms'].isnull().sum()}")

Bedrooms
1         19465
2          7542
3          2471
Studio     1935
4           841
5           301
6            75
0            21
7            18
8             7
10            4
9             2
16            1
15            1
12            1
22            1
Name: count, dtype: int64
Null values: 0

There are 16 bedroom values. The 'Bedrooms' column is currently an 'object' column. This is due to the presence of 'Studio' within the columns data. For the purpose of modelling, it would be better if this column was a numerical datatype. Hence, the 'Studio' values, will be changed to the value '0.5' and the columns datatype will be converted to a 'float'.

Begin with changing the 'Studio' values to '0.5':

In [149]:
airbnb_ldn['Bedrooms'] = airbnb_ldn['Bedrooms'].replace({'Studio' : '0.5'})

The column will now be converted to a 'float' datatype:

In [152]:
airbnb_ldn['Bedrooms'] = airbnb_ldn['Bedrooms'].astype(float)

The 'Listing Type' column will now be evaluted:

In [56]:
airbnb_ldn['Listing Type'].unique()

array(['entire_home', 'private_room', 'shared_room', 'hotel_room'],
      dtype=object)

Above are the four values present within the 'Listing Type' column. These can be one-hot encoded:

In [154]:
airbnb_ldn = pd.get_dummies(airbnb_ldn, columns = ['Listing Type'])

In [155]:
# View numerical columns:
num_cols.head().T

,0,1,2,3,4
Number of Reviews,9,11,1,20,0
Bathrooms,2,1,2,1,1
Max Guests,6,4,3,4,2
Cleaning Fee (Native),154.8,0.0,0.0,34.8,0.0
Extra People Fee(Native),0.0,0.0,0.0,2.5,0.0
Minimum Stay,3,1,7,5,5
Latitude,51.43105,51.43399,51.435,51.43531,51.43532
Longitude,-0.26074,-0.25656,-0.257,-0.25648,-0.25413
Overall Rating,4.1,4.8,5.0,4.8,4.0
Airbnb Communication Rating,9.0,10.0,10.0,10.0,10.0
Airbnb Accuracy Rating,8.0,9.0,8.0,10.0,10.0
Airbnb Cleanliness Rating,8.0,10.0,10.0,9.0,6.0
Airbnb Checkin Rating,9.0,10.0,10.0,10.0,10.0
Airbnb Location Rating,8.0,9.0,8.0,9.0,9.0
Airbnb Value Rating,8.0,10.0,10.0,9.0,9.0
Airbnb Host ID,91050428,476914024,20985539,65911292,4350839
Host Listing Count,4.0,NaN,NaN,4.0,0.0
Pets Allowed,False,False,False,False,False
Count Available Days LTM,10,163,74,138,0
Count Blocked Days LTM,355,202,291,227,365
Count Reservation Days LTM,5,91,1,108,0
Occupancy Rate LTM,40,67,2,94,55
Number of Bookings LTM,1,26,0,13,0
Number of Bookings LTM - Number of observed month,0,23,-2,8,6
Average Daily Rate (Native),244.1,153.3,233.1,94.8,44.2
Annual Revenue LTM (Native),1619.5,16737.7,345.2,12853.3,267.8

Looking at the categorical columns. There are several columns that

In [13]:
# drop num_cols 'Unnamed: 0' column:
num_cols.drop(columns='Unnamed: 0', inplace=True)

In [15]:
num_cols.head()

,Number of Reviews,Bathrooms,Max Guests,Cleaning Fee (Native),Extra People Fee(Native),Minimum Stay,Latitude,Longitude,Overall Rating,Airbnb Communication Rating,...,Host Listing Count,Pets Allowed,Count Available Days LTM,Count Blocked Days LTM,Count Reservation Days LTM,Occupancy Rate LTM,Number of Bookings LTM,Number of Bookings LTM - Number of observed month,Average Daily Rate (Native),Annual Revenue LTM (Native)
0,9,2,6,154.8,0.0,3,51.43105,-0.26074,4.1,9.0,...,4.0,False,10,355,5,40,1,0,244.1,1619.5
1,11,1,4,0.0,0.0,1,51.43399,-0.25656,4.8,10.0,...,NaN,False,163,202,91,67,26,23,153.3,16737.7
2,1,2,3,0.0,0.0,7,51.43500,-0.25700,5.0,10.0,...,NaN,False,74,291,1,2,0,-2,233.1,345.2
3,20,1,4,34.8,2.5,5,51.43531,-0.25648,4.8,10.0,...,4.0,False,138,227,108,94,13,8,94.8,12853.3
4,0,1,2,0.0,0.0,5,51.43532,-0.25413,4.0,10.0,...,0.0,False,0,365,0,55,0,6,44.2,267.8